<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div>
            <ul>
                <a href='{{url_for("home")}}' ><li>HOME</li></a>
                <a href='{{url_for("predict")}}'><li>PREDICT</li></a>
                <a href='{{url_for("team")}}' class="team"><li>TEAM</li></a>
            </ul>
        </div>
    </nav>
    <div class="team-container">
        <div class="div-1">
            <div>
                <h4>GUNDA VENKATA SAI</h4>
                <h4>21UK1A6664</h4>
                <h4>gvenkatsai2003@gmail.com</h4>
            </div>
            <div>
                TEAM LEAD
            </div>
        </div>
        <div class="div-1">
            <div>
                <h4>BODDULA MANOJ</h4>
                <h4>22UK5A6605</h4>
                <h4>boddulamanoj525@gmail.com</h4>
            </div>
            <div>
                TESTER
            </div>
        </div>
        <div class="div-1">
            <div>
                <h4>THUMULA VYSHNAVI</h4>
                <h4>21UK1A6612</h4>
                <h4>thumulavyshnavi@gmail.com</h4>
            </div>
            <div>
                DOCUMENTER
            </div>
        </div>
        <div class="div-1">
            <div>
                <h4>SAMALA SANTHOSH</h4>
                <h4>21UK1A6638</h4>
                <h4>santhosh.samala05@gmail.com</h4>    
            </div>
            <div>
                RESEARCHER
            </div>
        </div>
    </div>
</body>
</html>